[Desktop Entry]
Encoding=UTF-8
Name=Ardour
Comment=Multitrack hard disk recorder
Comment[pl]=Wielościeżkowy magnetofon nagrywający na twardym dysku
Exec=/usr/bin/ardour
Terminal=false
Type=Application
Categories=Application;AudioVideo;
# vi: encoding=utf-8
