[Desktop Entry]
Name=Ardour
Comment=Multitrack hard disk recorder
Comment[pl]=Wielościeżkowy magnetofon nagrywający na twardym dysku
Exec=ardour2
Icon=ardour
Terminal=false
Type=Application
Categories=GTK;Audio;Recorder;
# vi: encoding=utf-8
